.embla {
  overflow: hidden;
  margin: 2rem 0;

  .embla__container {
    display: flex;

    .embla__slide {
      position: relative;
      flex: 0 0 100%;

      img {
        width: 100%;
      }
    }
  }
}
